<!DOCTYPE HTML>
<HEAD>
	<title>Daily Nasa Pics</title>
	<meta charset="UTF-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>

		a {
			margin: 10px;
		}

		.vertical-center {
			display: flex;
			align-items: center;
		}

		.white-background {
			background-color: #FFFFFF;
		}

		.black-border {
			border-color: #000000;
		}

		.black {
			color: #000000;
		}
	</style>
</HEAD>
<BODY>
		<div>
			<h1 align="center">Daily Nasa Pics Bot</h1>
		</div>
<div class="jumbotron vertical-center white-background">
	<div class="container-fluid">

		<div class="row">
				<a href="https://telegram.me/dailynasapics" class="btn btn-lg white-backbround black-border black">Join the Telegram channel!</a>
		</div>
		<div class="row">
				<a href="https://github.com/aabreuglez/dailynasapicsbot" class="btn btn-lg white-backbround black-border black">Check the source on github</a>
		</div>
		<div class="row">
				<a href="https://aabreuglez.github.io/projects/" class="btn btn-lg white-backbround black-border black">Want to see more projects?</a>
				
		</div>
	</div>
</div>
</BODY>